@{
    Layout = "~/Views/Shared/_HomeTemplate.cshtml";
    ViewData["Title"] = "LoginUsuarios";
}
<partial name="../Component/_RoutesAccount" />
<p>holi soy el login para los empleados de la empresa</p>