<header class="header">
    <nav class="navbar">
        <div class="navbar-left">
            <div class="navbar-left-left">
                <img src="~/imagen/Logo.png" alt="Logo" class="logo" />
                <h1 class="titulo_empresa">Samanga</h1>
            </div>
            <div class="navbar-left-right">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>